<h1>My Portfolio</h1>
<table>
  <tr>
    <th>Order #</th>
    <th>Coin</th>
    <th>Quantity</th>
    <th>Price paid</th>
    <th>Price now</th>
    <th>Link</th>
  </tr>
 
  <% @purchaseOrders.each do |purchaseOrder| %>
    <tr>
      <td><%= purchaseOrder.id %></td>
      <td><img src="https://www.cryptocompare.com<%= purchaseOrder.coin.imageUrl %>"> <%= purchaseOrder.coin.coinName %> (<%= purchaseOrder.coin.symbol %>)</td>
      <td><%= purchaseOrder.quantity %></td>
      <td>$ <%= purchaseOrder.pricePaid %></td>
      <td class="<%= (purchaseOrder.pricePaid > purchaseOrder.priceNow)? 'lose' : 'win'  %>">$ <%= purchaseOrder.priceNow %></td>
      <td><%= link_to 'Link', purchase_order_path(purchaseOrder) %></td>
    </tr>
  <% end %>
</table>