<h1>Purchase Order</h1>
<%= form_with scope: :purchaseOrder, url: purchase_orders_path, local: true do |form| %>
  <table id="buy">
    <tr>
      <th>Coin</th>
      <th>Unit Price</th>
      <th><%= form.label :quantity %></th>
    </tr>
    <tr>
      <td>
        <img src="https://www.cryptocompare.com<%= @purchaseOrder.coin.imageUrl %>"> <%= @purchaseOrder.coin.coinName %> (<%= @purchaseOrder.coin.symbol %>)
      </td>
      <td>
        $ <span id="price"><%= @purchaseOrder.coin.price %></span>
      </td>
      <td>
        <%= form.number_field :quantity, in: 0.01..1000.0, step: 0.01, id: 'quantity-field', :oninput => 'updatePrice()', :autofocus => true %>
      </td>
    </tr>
    <tr class="total">
      <td colspan="3">
        Total: $
        <span id="total"><%= @purchaseOrder.coin.price %></span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <td>
        <%= form.submit value="Buy"%>
      </td>
    </tr>
  </table>
  <%= fields_for :coin do |coin_form| %>
    <%= coin_form.hidden_field :id %>
    <%= coin_form.hidden_field :price %>
  <% end %>
<% end %>
