<!DOCTYPE html>
<html>
  <head>
    <title>CryptocurrencyPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span class="app-title">Cryptocurrency</span>
      <nav>
        <ul class="menu">
          <li>
            <%= link_to 'Coins', coins_path , class: active_if(controller: 'coins')%>
          </li>
          <li>
            <%= link_to 'My Portfolio', purchase_orders_path, class: active_if(controller: 'purchase_orders') %>
          </li>
        </ul>
      </nav>
    </header>
    <span class="content">
      <% if flash[:alert] %>
        <span class="error"><%= flash[:alert] %></span>
      <% end %>
      <%= yield %>
    </span>
  </body>
</html>
