<h1>Coins</h1>
<table>
  <tr>
    <th>Symbol</th>
    <th>Coin Name</th>
    <th>Price</th>
    <th>Link</th>
    <th>Buy</th>
  </tr>

  <% @coins.each do |coin| %>
    <tr>
      <td><%= coin.symbol %></td>
      <td><%= coin.coinName %></td>
      <td><%= coin.price %></td>
      <td><%= link_to 'Link', coin_path(coin) %></td>
      <td><%= link_to 'Buy', new_purchase_order_path(:coin_id => coin.id) %></td>
    </tr>
  <% end %>
</table>
