<h1><img src="https://www.cryptocompare.com<%= @coin.imageUrl %>"> <%= @coin.coinName %> (<%= @coin.symbol %>)</h1>
<p>
  Current price: <span class="price">$ <%= @coin.price %></span> 
  <%= link_to 'Buy', new_purchase_order_path(:coin_id => @coin.id) %>
</p>
